@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.accordeon
{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 5px;
}