@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.accordeon
{
    padding: 3px;
}

.faAngle
{
    margin-left: 470px;
    margin-right: auto;
    text-align: right;
}

@media (max-width:430px)
{
    .faAngle
    {
        margin-left: 290px;
    }
}

@media (max-width:380px)
{
    .faAngle
    {
        margin-left: 245px;
    }
}

@media (max-width:320px)
{
    .faAngle
    {
        margin-left: 200px;
    }
}