.content
{
    display: flex;
    justify-content: space-between;
}

.block-left h1
{
    font-family: 'Montserrat';
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 0 0 20px 0;
}

.loca
{
    color: #FF6060;
    margin:0 0 5px 0;
    font-size: 18px;
}

.tags
{
    margin:15px 0 15px -7px;
    display: flex;
}

.tags_loge
{
    
    background: #FF6060;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5px;
    width: 100px;
    margin: 0 5px ;
    text-align: center;
    font-size: 15px;
}

.block-right
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.host
{
    display: flex;
    align-items: flex-end;    
}

.host_name
{
    font-family: 'Montserrat';
    color: #FF6060;
    margin: 20px 15px;
    text-align: -webkit-right;    
    font-size: 18px;
}

.hote{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.etoile
{
    font-size: 20px;
    margin: 23px 0 23px 65px;

}

.rouge
{
    color: #FF6060;
    width: 30px;
    height: 30px;
}

.gris
{
    color: #E3E3E3;
    width: 30px;
    height: 30px;
}

.information
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.info
{
    background: #FF6060;
    color: #FFFFFF;
    border-radius: 10px;
    width: 582px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.description
{
    font-family: 'Montserrat';
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 4px;
    height: 249px;
    width: 572px;
    margin: 10px 0 0 0;
    padding: 10px 0 0 10px;
}

.equipement
{    
    display: flex;
    margin: 10px 0 0 0;
    flex-direction: column;   
    background: #F7F7F7;
    border-radius: 4px;    
    padding: 10px 0 0 10px;
    height: 249px;
}

.description_equipement
{
    font-family: 'Montserrat';
    color: #FF6060;
    height: 25px;
    width: 572px;
    margin: 0;
}


@media (max-width:1024px)
{
    .information
    {
        flex-direction: column;
        align-items: center;
    }

    .rouge
    {
        width: 29px;
    }
}

@media (max-width:800px)
{
    .rouge
    {
        width: 26px;
    }

    .gris
    {
        width: 26px;
    }
}

@media (max-width:430px)
{
    .content
    {
        flex-direction: column;
    }
    
    .block-right

    {
        flex-direction: row;
        justify-content: space-between;
    }

    .host_name
    {
        margin: 25px 10px 15px 30px;
    }

    .hote
    {
        width: 50px;
        height: auto;
    }

    .etoile
    {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .info
    {
        width: 400px;
    }

    .description
    {
        width: 400px;
        height: 150px;
    }

    .description_equipement
    {
        width: 200px;
    }
}

@media (max-width:380px)
{

    .host_name
    {
        text-align: end;
    }

    .info
    {
        width: 355px;
    }

    .description
    {
        width: 346px;
    }

    .description_equipement
    {
        width: 346px;
    }
}

@media (max-width:320px)
{
    .block-left h1
    {
        font-size: 25px;
    }

    .tags_loge
    {
        font-size: 13px;
    }

    .host
    {
        align-items: center;
    }

    .info
    {
        width: 310px;
    }

    .description
    {
        width: 300px;
    }

    .description_equipement
    {
        width: 300px;
    }
}