.fleche
{
    position: absolute;
    top: 340px;
    color: #FFFFFF;
    height: 50px;
}

.fleche svg
{
    height: 25px;
    width: 20px;
}

.img_carrousel
{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 30px;
}

.chiffre
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -40px 0 45px 0;
    color: #FFFFFF;
}

.fleche_droite
{
    position: absolute;
    right: 188px;
    top: 340px;
    color: #FFFFFF;
}

.fleche_droite svg
{
    height: 25px;
    width: 20px;
}

@media (max-width:1440px)
{
    .fleche_droite
    {
        right: 100px;
    }
}

@media (max-width:1024px)
{
    .fleche_droite
    {
        right: -20px;
    }
}

@media (max-width:950px)
{
    .img_carrousel
    {          
        height: 355px;    
    }
    
    .fleche
    {
        top: 240px;
    }

    .fleche_droite
    {
        right: -20px;
        top: 240px;
    }
}

@media (max-width:430px)
{
    .img_carrousel
    {         
        height: 265px;    
    }
    
    .fleche
    {
        top: 205px;
    }

    .fleche_droite
    {
        right: -25px;
        top: 205px;
    }
}

@media (max-width:380px)
{
    .img_carrousel
    {        
        height: 220px;    
    }
    
    .fleche
    {
        top: 195px;
    }

    .fleche_droite
    {
        right: -25px;
        top: 195px;
    }
}

@media (max-width:320px)
{
    .img_carrousel
    {        
        height: 245px;    
    }
    
    .fleche_droite
    {
        right: -30px;
    }
}