@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.imgpropos
{
    padding-bottom: 35px;
    border: 10px;
    object-fit: cover;
    width: 100%;
}

.label
{
    background: #FF6060;
    color: #FFFFFF;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.drop
{
    color: #FF6060;
    background: white;
}

@media (max-width:430px)
{
    .label
    {
        width: 100%;
    }
}
