.accordeon
{
    padding: 30px 0 0 0;
}
.label
{
    background: #FF6060;
    color: #FFFFFF;
    border-radius: 5px;
    width: 700px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}

.drop
{
    color: #FF6060;
    background: white;

}