@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.header
{
    display: flex;
    align-items: center;
    margin: 25px auto;
    max-width: 1240px;
    flex-direction: row;
    justify-content: space-between;
}

.App-logo
{
    width: 210px;
}

.navbar
{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.navbar_link
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.navbar_link:hover
{
    text-decoration: underline;
}

@media (max-width: 1024px)
{
    .navbar 
    {
      margin: 0 10px 0 0;
    }
}


@media (max-width:950px)
{
    .App-logo
    {
        width: 100px;
    }

    .navbar
    {
        width: 170px;
    }
    .navbar_link
    {
        font-size: 20px;
    }
}

@media (max-width:380px)
{
    .navbar
    {
        width: 155px;
    }
    .navbar_link
    {
        font-size: 18px;
    }
}

@media (max-width:320px)
{
    .navbar
    {
       margin: 0;
       width: 140px;
    }
    .navbar_link
    {
        font-size: 16px;
    }
}