@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.container 
{
    max-width:1240px;
    width: 100%;
    margin: 0 auto; /*top et bottom : 0 left et right : 0*/
    padding : 0 30px;
}

@media (max-width:325px)
{
    .container
    {
        padding: 0 50px;
    }
}